.button {
  display: block;
  padding: 8px 20px;

  font-family: $montserrat-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.button--primary {
  background-color: $basic-purple;
  color: $basic-white;
}

.button--secondary {
  background-color: $basic-white;
  color: $basic-purple;
}
