.catalog {
  background-color: $secondary-light-gray;
  padding: 50px 20px 48px;

  @media (min-width: $tablet-width) {
    padding: 85px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 4px;

  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 133%;
  color: $basic-purple;
  text-transform: uppercase;
  text-align: center;
}

.catalog__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 24px;
  line-height: 150%;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;

    font-size: 42px;
    line-height: 142%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.catalog__main-container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
  }
}

.catalog__filter-form {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.catalog__filter {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 222px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog__sorting-container {
  @media (min-width: $desktop-width) {
    width: 1011px;
  }
}

.catalog__sorting {
  padding: 0 3px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    width: 284px;
    margin-left: auto;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -18px;
  }
}

.catalog__cards-container {
  padding-bottom: 20px;
  background-color: $secondary-light-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
  }
}

.catalog__card {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 349px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 317px;
  }
}

.catalog__pagination {
  @media (min-width: $tablet-width) {
    width: 395px;
    margin-left: auto;
  }
}
