.hero {
  padding: 20px 20px 60px;

  text-align: center;
  background-color: #f3ebe1;

  @media (min-width: $tablet-width) {
    padding: 60px 20px 308px;
    margin-bottom: 188px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 40px 80px;
    margin-bottom: 0;
  }
}

.hero__image {
  margin-bottom: 5px;

  @media ((min-width: $tablet-width) and (max-width: $tablet-width-max)) {
    position: absolute;

    @include centring-positioned-element;
    top: 671px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 65px;
  }
}

.hero__info-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 150px;
  }
}

.hero__text {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 133%;
  color: $basic-purple;
  text-transform: uppercase;
}

.hero__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 36px;
  line-height: 133%;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 143%;

    width: auto;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 57px;
    margin-bottom: 10px;
  }
}

.hero__description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 143%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 160%;
    width: 608px;
    text-align: center;
    letter-spacing: 0.02em;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 42px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__item {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.hero__item--espresso,
.hero__item--latte {
  display: none;
}

.hero__order-container {
  display: flex;
  align-items: center;

  margin: 0 25px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.hero__price-before {
  text-decoration: line-through;
  margin-right: 6px;

  font-size: 16px;
  line-height: 200%;
  color: $basic-purple;
}

.hero__price-after {
  margin-right: 20px;

  font-family: "Montserrat Semi Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 160%;
}

.hero__order {
  width: 113px;
}

// слайдер
.hero__toggles {
  position: absolute;
  width: 100%;
  top: 75%;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 47%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    top: 34%;
    padding: 0 33px;
  }
}
