.slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider__toggle {
  position: relative;
  border: none;
  background-color: transparent;
}

.slider__toggle--right::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/arrow-slider-right-icon.svg");
}

.slider__toggle--left::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/arrow-slider-left-icon.svg");
}

.slider__toggle-number {
  display: none;
}

slider__toggle--current {
  display: none;
}

