.slider__toggle {
  position: relative;
}

.slider__toggle--right::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/arrow-slider-right-icon.svg");
}

.slider__toggle--left::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/arrow-slider-left-icon.svg");
}
