.sorting {
  display: flex;
  justify-content: space-between;

  font-family: "Montserrat Semi Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  background-color: $secondary-light-gray;
}

.sorting__select {
  border: none;
  margin: 0;
  padding: 4px 10px;
  width: 100%;
  margin-left: 10px;

  font-family: "Montserrat Semi Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: $basic-purple;
  background-color: $secondary-light-gray;
  background-image: url("../../icons/arrow-icon.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  appearance: none;
}
